@import '../../../../Resources/scss/variables';

.header {
  &-icon-svg {
    fill: $color-white;
    margin-top: 18px;
    width: 16px;
    height: 16px;
    z-index: 2;
    cursor: pointer;
  }

  &__item {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 52px;
    color: $color-gray;
    padding-right: 30px;
    cursor: pointer;

    svg {
      margin-left: 5px;
    }

    &-count {
      margin-left: -2px;
      font-size: 12px;
      color: $color-gray;
      opacity: 0.6;

      &--cart {
        font-weight: 600;
        background: #80ab00;
        color: $color-white;
        opacity: 1;
        border-radius: 2px;
        padding: 0 4px 0 3px;
        height: 14px;
        font-size: 11px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 95%;
          margin: -35px 0 0 -35px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          opacity: 0;
          pointer-events: none;
          box-shadow: inset 0 0 0 35px #80ab00;
        }
      }
    }
  }

  &-search-icon {
    position: absolute;
    top: 20px;
    left: 32%;
    height: 16px;
    width: 14px !important;
    color: $color-gray;
    animation: slideAndFadeInLupka 0.35s both;
    animation-delay: 0.05s;
    opacity: 1;
  }

  &-search-input {
    display: inline-block;
    position: relative;
    width: 57%;
    height: 100%;
    vertical-align: top;

    &__clear {
      position: absolute;
      right: -63px;
      top: 19px;
      z-index: 10;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #595959;
      border-radius: 3px;
      line-height: 14px;
      font-size: 11px !important;
      color: #191a1a !important;
      opacity: 1 !important;
      background: #595959;
      text-transform: uppercase;
      cursor: pointer;
      animation: slideAndFadeIn 0.35s both;
      animation-delay: 0.1s;
    }

    &__field {
      box-sizing: border-box;
      position: absolute;
      left: 28px;
      top: 17px;
      width: calc(100% + 36px);
      height: 22px;
      padding: 0;
      border: none;
      border-bottom: 1px solid #404040;
      font-size: 14px;
      color: #e5e5e5;
      vertical-align: middle;
      background: none;
      line-height: normal;
      animation: slideAndFadeIn 0.35s both;
      animation-delay: 0.1s;

      &:focus {
        outline: none;
      }
    }
  }

  &-search-toolbar {
    box-sizing: border-box;
    position: relative;
    height: 52px;
    width: 100%;
    padding-left: 20%;
    line-height: 52px;

    &__results-count {
      position: relative;
      display: inline-block;
      margin-left: 80px;
      font-size: 14px;
      font-weight: 600;
      vertical-align: top;
      text-transform: uppercase;
      color: $color-white;
      cursor: pointer;
      animation: slideAndFadeIn 0.35s both;
      animation-delay: 0.15s;

      span {
        margin-right: 5px;
        font-size: 14px;
        color: $color-white !important;
        opacity: 1;
      }
    }
  }

  &__search {
    padding-right: 0;
  }

  &-submenu {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 150px 0 260px;
    padding-bottom: 0;
    padding-top: 0;
    background: none;
    box-shadow: none;
    color: #4c4c4c;
    font-size: 13px;
    line-height: normal;
    transform-origin: 50% 0;
    letter-spacing: normal;
    cursor: default;
  }

  &-triangle {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid $color-white;
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    z-index: 3;
    animation: fadeInWithTransformTriangle 0.1s forwards;
    animation-delay: 120ms;

    &--centered {
      right: 30%;
    }
  }

  &__tray {
    float: right;
  }
}

.header__item-cart {
  cursor: pointer;
}

.header__item-cart:hover .menu-icon-svg {
  fill: $color-white;
}

// svg
.menu-icon-svg {
  display: inline-block;
  margin-top: -2px;
  height: 16px;
  width: 16px;
  fill: #ccc;
  vertical-align: middle;
  transform-origin: top center;
}

.menu-icon-svg:hover ~ .header__item-count {
  color: $color-white;
  opacity: 1;
}

.animated-svg {
  animation: notify 0.5s ease-out forwards;
}

// Overlay
.menu-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.25s ease, visibility 0.25s linear;
  z-index: -1;
}

.menu-overlay.is-visible {
  visibility: inherit;
  opacity: 1;
  transition: opacity 0.45s ease 0.1s, visibility 0.45s linear 0.1s;
}

// cart-triangle
.cart-triangle {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #f2f2f2;
  position: absolute;
  top: auto;
  bottom: 0;
  right: 4.8%;
  left: auto;
  z-index: 3;
}

.cart-triangle-animated {
  opacity: 0;
  animation: fadeInWithTransformTriangle 0.1s forwards;
  animation-delay: 120ms;
}

// Kreyframes
@keyframes slideAndFadeIn {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideAndFadeInLupka {
  from {
    opacity: 0;
    left: calc(60% - 38px);
  }

  to {
    left: 20%;
    opacity: 1;
  }
}

@keyframes notify {
  0% {
    opacity: 1;
    transform: scale3d(0.4, 0.4, 1);
  }

  80% {
    box-shadow: inset 0 0 0 2px rgba(111, 148, 182, 0.8);
    opacity: 0.1;
  }

  100% {
    box-shadow: inset 0 0 0 2px rgba(111, 148, 182, 0.8);
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}
