@import './Resources/scss/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: $bck-color;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
