*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #e4e7ed;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
