.wishlist {
  &__container {
    max-width: 1100px;
    min-height: 68.1vh;
    margin: 0 auto;
    margin-top: 130px;
  }

  &__header {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    padding: 15px 0;
    text-transform: uppercase;
  }

  &__products {
    position: relative;
    background: #e1e1e1;
    color: #212121;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  }
}

.wishlist-row {
  display: block;
  position: relative;
  height: 60px;
  padding-right: 10px;
  border-top: 1px solid #cfcfcf;
  font-size: 13px;
  color: #595959;
  overflow: visible;

  &:hover {
    background: #e5e5e5;
  }

  &__action {
    top: 38%;
    right: 7%;
    position: absolute;
    z-index: 1;
    min-height: 23px;
    min-width: 23px;
    padding-bottom: 7px;
  }

  &__btn-remove {
    padding: 2.5px 5px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.25);
    background-color: #e5e5e5;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    line-height: 0;
    cursor: pointer;
    user-select: none;
  }

  &__content {
    line-height: 54px;
    display: block;
    padding-right: 10px;
    color: #595959;
    height: 100%;
    width: 100%;
  }

  &__content-in {
    height: 60px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    line-height: 16px;
  }

  &__discount {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 68px;
    margin-top: -11.5px;
  }

  &__link {
    position: relative;
    display: block;
    height: 100%;
    transition: opacity 0.15s;
  }

  &__img {
    position: absolute;
    left: -16px;
    max-width: none;
    width: auto;
    height: 100%;
    float: left;
  }

  &__info {
    padding-right: 5px;
    text-overflow: ellipsis;
    position: static;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 26.44221%;
    font-size: 0.846em;
    height: 100%;
    white-space: nowrap;

    &::before {
      content: '';
      display: inline-block;
      height: 34px;
    }
  }

  &__picture {
    float: left;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 60px;
  }

  &__price {
    margin-left: 5px;
    float: right;
    line-height: 0;
    white-space: nowrap;

    &::before {
      content: '';
      display: inline-block;
      height: 34px;
    }
  }

  &__text {
    padding-left: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    width: 597px;
    margin-top: 19px;
    height: auto;
    position: relative;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    color: #262626;
  }

  &__windows {
    width: 26.05%;
    display: inline-block;
  }

  &-wrapper {
    float: none;
    width: auto;
    padding: 0;
  }
}

.wishlist-row:hover .wishlist-row__discount {
  display: none;
}

.wishlist-row:not(:hover) .wishlist-row__action {
  display: none;
}

.wishlist-row:hover .price-btn {
  background: linear-gradient(to bottom, #9fbf00, #80ab00);
  color: #fff;
}

.wishlist-row:hover .price-btn__in-cart {
  fill: #fff;
}

.price-text--discount {
  display: inline-block;
  position: relative;
  height: 23px;
  padding: 0 0.5em;
  border-radius: 2px;
  font-size: 12px;
  line-height: 21px;
  color: #f2f2f2;
  background: #788795;
}

.price-btn {
  box-sizing: border-box;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -11.5px;
  height: 23px;
  padding: 0 0.5em;
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  line-height: 22px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.25);
  min-width: 57px;
  color: #686868;

  &__amount {
    &::before {
      content: '\20AC\202F';
      display: inline;
    }
  }

  &__in-cart {
    margin-top: 4px;
    width: 13px;
    height: 12px;
  }
}

.empty-message {
  text-align: center;
  padding-top: 53px;

  &__big {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
  }

  &__small {
    margin-top: 1em;
    font-size: 14px;
  }
}

.un {
  background-image: linear-gradient(90deg, currentColor, currentColor);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  cursor: pointer;
}
