@import '../../../Resources/scss/variables';

// Catalog
.container--catalog {
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: 1100px;
  min-height: 900px;
  margin-bottom: 160px;
}

.catalog {
  &__body {
    display: flex;
    padding-top: 24px;
    transition: 0.3s ease-in-out;
    width: 100%;
  }

  &__games-list {
    position: relative;
    flex-grow: 1;
  }

  &__no-results {
    font-size: 16px;
    margin-top: 100px;
    text-align: center;
    color: #212121;
  }

  &__sidebar {
    width: 0px;
    transition: 0.3s ease-in-out;
    flex-shrink: 0;
    float: left;
    overflow: hidden;
  }
}

.catalog__body--slide .catalog__sidebar {
  width: 280px;
}

.catalog__sidebar > .filter__item ~ .filter__item {
  padding-top: 15px;
  border-top: 1px solid #bfbfbf;
}

.catalog__sidebar .product-tile {
  transition: 0.3s ease-in-out;
}

.catalog__games-list .card_block {
  margin-top: 0px !important;
}

.catalog__games-list .card_block .card_wrapper {
  display: grid !important;
  grid-template-columns: repeat(3, 256px) !important;
  grid-row-gap: 25px;
}

.catalog__games-list .card_block .card_wrapper--slide {
  grid-template-columns: repeat(4, 256px) !important;
}

.catalog__games-list .card_block .card_wrapper--list {
  grid-template-columns: repeat(1, 1fr) !important;
  grid-row-gap: 0px;
}
