// COLORS
$color-black-primary: #1a1a1a;
$color-black: #000;
$color-black-text: #212121;
$color-dark: #3b3e48;

$color-white: #fff;
$color-white-light: #fafafa;
$color-white-dark: #ececec;

$color-gray: #ccc;
$color-gray-dark: #b4b6ba;

$color-blue: #17a1e5;

$bck-color: #d8d8d8;

$footer-primary: #262626;
$footer-secondary: #2f2f2f;
