.user-security__input {
  width: 270px;
  height: 40px;
  line-height: 40px;
  padding: 0 9px;
  background: #ededed;
  border: 1px solid #b1b1b1;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-weight: 600;
  color: #262626;
}
