.form__footer {
  padding-top: 10px;
  margin-top: 10px;
  border-top: #cdcdcd solid 1px;

  &-btn {
    display: block;
    width: 100%;
    min-height: 42px;
    border: #b1b1b1 solid 1px;
    height: 36px;
    padding: 0 10px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #595959;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    text-align: center;
    outline: transparent solid;
    font-family: 'Open Sans';

    &:hover {
      background-color: #e1e1e1;
    }
  }
}

.form-padding {
  padding: 25px 30px 30px;
}

.user {
  margin: 15px 0 20px;
  font-family: 'Open Sans';

  &__email {
    margin: 0;
    color: #595959;
  }

  &__name {
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
  }
}
