@import '../../../Resources/scss/variables';

.product-card {
  display: flex;
  width: 732px;
  border-bottom: 1px solid transparent;
  height: 97px;
  align-items: center;

  &__buy-block {
    position: relative;
  }

  &__cover {
    height: 80px;

    img {
      max-width: 160px;
      height: 80px;
      margin-left: 10px;
    }
  }

  &__genres {
    display: flex;
    font-size: 14px;
    color: #999;
  }

  &__image {
    margin-top: 5px;
  }

  &__prices {
    font-size: 15px;
    font-weight: 700;
    color: $color-dark;
    transition: none;

    svg {
      color: $color-dark;
      font-size: 13px;
      margin-right: 2px;
    }
  }

  &__title {
    span {
      font-size: 17px;
      font-weight: 900;
      color: $color-dark;
    }

    img {
      width: 10px;
      margin-top: 16px;
    }
  }

  &__title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    height: 80px;
    padding: 10px;
  }
}
