@import '../../../Resources/scss/variables';

.container {
  position: relative;
  width: 1100px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.game__above {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 135px;

  &-img {
    width: 10px;
    height: 10px;
  }

  span {
    color: $color-gray;
    font-size: 16px;
    margin-left: 10px;
  }

  &--circle {
    color: $color-gray;
    width: 8px;
    height: 7px;
    margin-left: 10px;
  }
}

.game__title {
  position: absolute;
  top: 370px;
  font-size: 32px;
  font-weight: 700;
  color: $color-white;
  width: 45%;
  padding-top: 12px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
}

.game__action {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 65px;
}

.game__price {
  font-size: 40px;
  color: $color-white;
  margin-right: 30px;

  & svg {
    color: $color-white;
    font-size: 25px;
    margin-right: 8px;
    margin-bottom: 2px;
  }
}

.gamme__above--logo {
  width: 50%;
  padding-top: 71px;
}
