@import '../../../Resources/scss/variables';

.container {
  position: relative;
  width: 1100px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.game {
  &__above {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 135px;

    span {
      color: $color-gray;
      font-size: 16px;
      margin-left: 10px;
    }

    &--circle {
      color: $color-gray;
      width: 8px;
      height: 7px;
      margin-left: 10px;
    }

    &-img {
      width: 10px;
      height: 10px;
    }

    &--logo {
      width: 50%;
      padding-top: 71px;
    }
  }

  &__action {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 65px;
  }

  &__base-price {
    position: absolute;
    top: -18px;
    right: 0;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.5);
    text-decoration: line-through;
    font-size: 16px;

    &::before {
      display: inline;
      content: '\20AC\A0';
    }
  }

  &__discount {
    display: inline-block;
    margin-right: 16px;
    border-radius: 3px;
    padding: 11px;
    background-color: #78387b;
    color: $color-white;
    font-weight: 700;
    font-size: 28px;
  }

  &__labels {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 37px;
    left: 0;
    border-radius: 2px;
    overflow: hidden;
  }

  &__label {
    pointer-events: none;
    border-radius: 0 2px 2px 0;
    padding: 7px 16px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white;
    line-height: 10px;

    &-icon {
      margin: 0 5px -1px 0;
      height: 10px;
      width: 10px;

      &--wishlisted {
        margin-bottom: 0px;
      }
    }

    &--in-cart {
      background: #80ab00;
    }

    &--is-wishlisted {
      background: #eca125;
    }
  }

  &__price {
    position: relative;
    font-size: 40px;
    color: $color-white;
    margin-right: 205px;
    margin-top: 3px;

    & svg {
      color: $color-white;
      font-size: 25px;
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }

  &__title {
    position: absolute;
    top: 370px;
    font-size: 32px;
    font-weight: 700;
    color: $color-white;
    width: 45%;
    padding-top: 12px;
    border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  }
}

.game__wrapper .slick-dots {
  height: 0px;
  bottom: 47px;
}

// MyButton Component
.myButton {
  &__container {
    width: calc(100vw - 17px);
    position: absolute;
    height: 0px;
  }

  &__wrapper {
    width: 1100px;
    margin: 0 auto;
    text-align: right;
    height: '0px';
  }
}
