@import '../../../Resources/scss/variables';

.container {
  position: relative;
  width: 1100px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.game__title {
  position: absolute;
  top: 370px;
  font-size: 32px;
  font-weight: 700;
  color: $color-white;
  width: 45%;
  padding-top: 12px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
}

.logo__container {
  padding-top: 71px;
}
