@import '../../../Resources/scss/variables';

.header {
  &__bck {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 52px;
    background-color: rgba(33, 33, 33, 0.9);
    z-index: 60;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
  }

  &__container {
    box-sizing: border-box;
    position: relative;
    max-width: 1100px;
    height: 52px;
    margin: auto;
  }

  &__dropdown-icon {
    position: absolute;
    left: 14%;
    top: 19.5px;
    height: 14px;
    width: 8.75px !important;
    fill: $color-gray;
    vertical-align: middle;
    transition: opacity 0.2s ease-in-out;
  }

  &__menu {
    float: left;
  }

  &__img-avatar {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-top: -2px;
    border-radius: 50%;
    vertical-align: middle;
  }

  &__item {
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.15s;

    &:hover {
      color: $color-white;
    }
  }

  &__logged-in {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: $color-gray;

    &:hover {
      color: $color-white;
    }
  }

  &__sign-in {
    margin: 1px 0 0 23px;
    color: #d38ae5;
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.15s;

    &:hover {
      color: rgb(249, 178, 255);
    }
  }
}

.logo {
  &__container {
    position: absolute;
    top: 11px;
    right: 44%;
    text-align: center;
    line-height: 30px;
    width: 130px;
    transform: skew(-20deg);
    background-color: rgba($color-gray, 0.35);
  }

  &__name {
    font-family: 'Black Ops One';
    font-size: 20px;
    color: $color-gray;
    transform: skew(20deg);
  }
}

.menu-triangle {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #f2f2f2;
  position: absolute;
  top: auto;
  bottom: 0;
  right: 84.3%;
  left: auto;
  z-index: 3;
}

.menu-triangle-animated {
  opacity: 0;
  animation: fadeInWithTransformTriangle 0.1s forwards;
  animation-delay: 120ms;
}

@keyframes fadeInWithTransformTriangle {
  from {
    opacity: 0;
    transform: translateY(15px) scaleX(0.73);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scaleX(0.73);
  }
}
