@import '../../Resources/scss/variables';

.game-page {
  position: relative;
  height: 655px;

  &::after {
    content: '';
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, transparent 0, rgba($color-black, 0.6));
  }

  &__background {
    opacity: 0.08;
    z-index: -1;
    position: absolute;
    left: 0;
  }

  &__container {
    position: relative;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 59%;
    margin-top: 20px;
    margin-bottom: 100px;

    h4 {
      margin-top: 16px;
      margin-bottom: 3px;
    }

    &-tag {
      margin-top: 48px;
      font-size: 16px;
      font-weight: 400;
      color: $color-black-text;
      border-bottom: 1px solid #bfbfbf;
      line-height: 12px;
      width: 59%;

      p {
        border-bottom: 1px solid;
        width: 13%;
        padding-bottom: 16px;
        margin-bottom: -1px;
      }
    }
  }

  &__languages {
    font-size: 16px;
    color: #545454;
    font-weight: 400;
  }

  &__logo {
    position: absolute;
    bottom: 0;
    z-index: 10;
  }

  &__layout {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-top: 35px;
    color: $color-black-text;
  }

  &__separator {
    width: 1px;
    height: 18px;
    margin: 8px 14px;
    background: #545454;
  }

  &__slider-container {
    width: 1100px;
    height: auto;
    margin-top: 38px;
    display: flex;
    align-items: center;

    .prev-arrow {
      transform: translate(-30px) rotate(180deg);
    }

    .slick-list {
      min-width: 1100px;
      transform: translateX(-13px);
    }
  }

  &__slider-dots {
    display: flex;
    justify-content: center;

    .slick-active button {
      background-color: $color-dark !important;
    }

    li {
      width: 20px;
      height: 18px;
      margin: 0;

      button {
        height: 12px;
        width: 12px;
        background-color: $color-gray-dark;
        border-radius: 50%;

        &::before {
          font-size: 0px;
        }
      }
    }
  }

  &__windows {
    display: flex;
    align-items: center;
  }
}

.slider-images {
  width: 271px;
  height: 152px;
}

.next-arrow,
.prev-arrow {
  cursor: pointer;

  svg {
    width: 13px;
    height: 20px;
    fill: rgba($color-black, 0.2);
    transition: all 0.2s;

    &:hover {
      fill: $color-violet;
    }
  }
}
