@import '../../../Resources/scss/variables';

.products-list {
  margin-bottom: 140px;

  &__button {
    position: absolute;
    top: 34%;
    right: -5%;
    opacity: 0;
    border: 1px solid #7fab34;
    border-radius: 3px;
    width: 33px;
    height: 30px;
    cursor: pointer;
    background-image: linear-gradient(180deg, #a5c700, #86b300);
    box-shadow: 0 1px 2px 0 rgba($color-black, 0.35);
    transition: none;
    outline: none;

    &:hover {
      background-image: linear-gradient(180deg, #acce00, #8bba00);
    }

    &--clicked {
      cursor: default;
    }

    &-image {
      position: absolute;
      top: 7px;
      left: 9px;
      width: 16px;
      height: 13px;
    }
  }

  &__container {
    display: flex;
    max-width: 1100px;
    margin: 0px auto;
    transform: translateX(-1%);
  }

  &__tabs {
    width: 1100px;
    margin: 90px auto 21px auto;

    &-wrapper {
      display: flex;
      width: 722px;
      padding-bottom: 21px;
      border-bottom: 1px solid $color-gray;

      &__new {
        border-bottom: 3px solid #707070;
        margin-bottom: -24px;
      }

      div {
        margin-right: 40px;
        color: $color-dark;
        font-size: 17px;
        font-weight: 700;
      }
    }
  }

  &__wrapper {
    position: relative;
  }
}

.products-list__wrapper:hover {
  background: $color-white-dark;
  box-shadow: 0 1px 4px 0 rgba($color-black, 0.15);
  cursor: pointer;
}

.products-list__wrapper {
  border-bottom: 1px solid $color-gray;
}

.products-list__wrapper:hover::before {
  content: '';
  position: absolute;
  border-top: 49px solid transparent;
  border-bottom: 49px solid transparent;
  left: 100%;
  border-left: 40px solid $color-white-dark;
}

.products-list__wrapper:hover .products-list__button {
  right: 1.2%;
  opacity: 1;
}

.products-list__wrapper:hover .product-card__prices {
  transform: translateX(-40px);
}
