@import '../../../Resources/scss/variables';

.game-card {
  max-width: 256px;
  height: 159px;
  margin-right: 25px;
  box-shadow: 0 1px 4px 0 rgba($color-black, 0.15);

  &__platform {
    img {
      width: 10px;
    }
  }

  &__buy-block {
    font-size: 15px;
    font-weight: 700;
    color: $color-dark;

    svg {
      color: $color-dark;
      font-size: 13px;
      margin-right: 2px;
    }
  }

  &__cover {
    height: 117px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color-white-light, 0.6);
    height: 42px;
    padding: 0 16px;
  }
}
