@import '../../../Resources/scss/variables';

.game-card {
  max-width: 256px;
  box-shadow: 0 1px 4px 0 rgba($color-black, 0.15);

  &__button {
    position: absolute;
    right: -42px;
    border: 1px solid #7fab34;
    border-radius: 3px;
    width: 33px;
    height: 30px;
    cursor: pointer;
    background-image: linear-gradient(180deg, #a5c700, #86b300);
    box-shadow: 0 1px 2px 0 rgba($color-black, 0.35);
    transition: all 0.2s;
    opacity: 0;
    outline: none;

    &:hover {
      background-image: linear-gradient(180deg, #acce00, #8bba00);
    }

    &--clicked {
      cursor: default;
    }

    &-image {
      position: absolute;
      top: 7px;
      left: 9px;
      width: 16px;
      height: 13px;
    }
  }

  &__labels {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -7px;
  }

  &__label {
    pointer-events: none;
    border-radius: 0 2px 2px 0;
    padding: 7px 16px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 10px;

    &-icon {
      margin-right: 7px;
    }

    &--in-cart {
      display: block;
      background: #80ab00;
    }

    &--is-wishlisted {
      background: #eca125;
    }

    &--is-upcoming {
      background: #094a77;
    }
  }

  &__buy-block {
    font-size: 14px;
    font-weight: 700;
    color: $color-dark;
    position: absolute;
    right: 4%;
    transition: all 0.2s;
    overflow: hidden;

    svg {
      color: $color-dark;
      font-size: 13px;
      margin-right: 2px;
    }
  }

  &__cover {
    position: relative;
    height: 117px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color-white-light, 0.6);
    height: 42px;
    padding: 0 16px;
    overflow: hidden;
  }

  &__discount {
    margin-right: 8px;
    border-radius: 2px;
    background: #78387b;
    color: $color-white;
    font-weight: 700;
    line-height: 12px;
    font-size: 14px;
    padding: 9px 8px;
  }

  &__prices-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
  }

  &__base-price {
    font-size: 10px;
    line-height: 9px;
    display: block;
    color: #999;
    text-align: right;
    font-weight: 600;
    text-decoration: line-through;

    svg {
      color: #999;
      font-size: 9px;
    }
  }

  &__price-discounted {
    color: #404040;
    font-weight: 700;
    line-height: 12px;
    font-size: 14px;

    svg {
      font-size: 11px;
    }
  }

  &__prices {
    display: flex;
    transition: all 0.2s;
  }
}

.game-card__base-price.no-discount {
  color: #404040;
  font-weight: 700;
  line-height: 12px;
  font-size: 14px;
  text-decoration: none;
}

.game-card__base-price.no-discount svg {
  font-size: 11.3px;
  margin-right: 3px;
  color: #404040;
}

.game-card:hover .game-card__prices {
  transform: translateX(-34px);
}

.link-wrapper {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);

  &:hover .game-card__button {
    opacity: 1;
  }
}

.link-wrapper:hover .game-card__buy-block {
  right: 20%;
  overflow: visible;
}

.game-card__prices svg {
  margin-bottom: 1px;
}

.product-tile {
  position: relative;
  box-sizing: content-box;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  height: 76px;
  overflow: hidden;

  &:hover &__button {
    right: 13px;
  }

  &:hover &__prices {
    transform: translateX(-38px);
  }

  &__prices {
    display: flex;
    transition: all 0.2s;
  }

  &__prices-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
  }

  &__base-price {
    font-size: 10px;
    line-height: 9px;
    display: block;
    color: #999;
    text-align: right;
    font-weight: 600;
    text-decoration: line-through;

    svg {
      font-size: 9px;
      margin-right: 2px;
    }
  }

  &__button {
    position: absolute;
    top: 31.5px;
    right: -55px;
    border: 1px solid #7fab34;
    border-radius: 3px;
    width: 31px;
    height: 28px;
    cursor: pointer;
    background-image: linear-gradient(180deg, #a5c700, #86b300);
    box-shadow: 0 1px 2px 0 rgba($color-black, 0.35);
    transition: 0.2s;
    outline: none;

    &:hover {
      background-image: linear-gradient(180deg, #acce00, #8bba00);
    }

    &-image {
      position: absolute;
      top: 7px;
      left: 9px;
      width: 16px;
      height: 13px;
    }

    &--clicked {
      cursor: default;
    }
  }

  &__content {
    display: flex;
  }

  &__cover {
    &-img {
      width: 136px;
      height: 76px;
    }
  }

  &__discount {
    margin-right: 8px;
    border-radius: 2px;
    background: #78387b;
    color: $color-white;
    font-weight: 700;
    line-height: 12px;
    font-size: 14px;
    padding: 9px 8px;
  }

  &__info {
    position: absolute;
    right: 10px;
  }

  &__label-icon {
    margin-right: 5px;
  }

  &__labels {
    display: flex;
    pointer-events: none;
    border-radius: 2px;
    padding: 7px 16px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 10px;
    width: fit-content;

    &--in-cart {
      background: #80ab00;
    }
  }

  &--list:hover {
    background: $color-white-dark;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    width: 101.5%;
    transform: translateX(-8.5px);
  }

  &__platform {
    display: flex;
    align-items: center;
    margin-top: 19px;
  }

  &__price-discounted {
    color: #404040;
    font-weight: 700;
    line-height: 12px;
    font-size: 14px;

    svg {
      width: 7.5px !important;
      margin-right: 3px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 24px;
    left: 155px;
    padding: 0;
    height: 29px;
    font-size: 14px;
    color: #404040;

    img {
      margin-top: 15px;
      width: 10px;
    }
  }

  &__windows {
    margin-left: 10px;
  }
}

.product-tile__base-price.no-discount {
  color: #404040;
  font-weight: 700;
  line-height: 12px;
  font-size: 14px;
  text-decoration: none;
}

.product-tile__base-price.no-discount svg {
  width: 7.5px;
  margin-right: 3px;
}

.product-tile--list:hover .product-tile__cover {
  margin-left: 8.9px;
}

.product-tile--list:hover .product-tile__title {
  margin-left: 8.5px;
}

.product-tile--list:hover .product-tile__info {
  right: 18px;
}
