@import '../Resources/scss/variables';

.login-modal {
  &__overlay {
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color-gray, 0.35);
    z-index: 60;
  }
}
