@import '../Resources/scss/variables';

.login-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-white, 0.45);
  z-index: 60;
}
